{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}
{% block body %}
    {% block content %}
        <h1>Blabla</h1>

        {{ burger.name }}
    {% endblock %}
{% endblock %}